@model IEnumerable<WebApplication1.Models.BeatMaps>

@{
    ViewData["Title"] = "Index";
}

<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>

<body style="background-color: #1c1719">
<h1 style="color:aliceblue; font-family: Bahnschrift SemiBold; text-align: center;">Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" style="color:aliceblue; font-family: Bahnschrift SemiBold;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.artist)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.artist)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
</body>